
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">    
    </div>
  
    <div class="col-md-6">
      <h1 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120700.svg" width="45" height="45"><font color="purple"><b>&nbsp;DENUNCIAS</b></font></h1>
      <h3 class="text-center">Número de denuncias registradas: {{tipos.totalDen}}</h3>
    </div>
  
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120708.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA FÍSICA</b></font></h3>
        <h3 class="text-center">Número de denuncias: {{tipos.viFis}}</h3>    
    </div>
  
    <div class="col-md-6">
      <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120711.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA PSICOLÓGICA</b></font></h3>
      <h3 class="text-center">Número de denuncias: {{tipos.viPsico}}</h3>    
  </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-6">
        <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120696.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA SEXUAL</b></font></h3>
        <h3 class="text-center">Número de denuncias: {{tipos.viSexu}}</h3>    
    </div>
  
    <div class="col-md-6">
      <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120705.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA ECONÓMICA</b></font></h3>
      <h3 class="text-center">Número de denuncias: {{tipos.viEco}}</h3>    
  </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-6">
        <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120715.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA PATRIMONIAL</b></font></h3>
        <h3 class="text-center">Número de denuncias: {{tipos.viPatri}}</h3>    
    </div>
  
    <div class="col-md-6">
      <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120710.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA SIMBÓLICA</b></font></h3>
      <h3 class="text-center">Número de denuncias: {{tipos.viSimb}}</h3>    
  </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-6">
        <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120712.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA DOMÉSTICA</b></font></h3>
        <h3 class="text-center">Número de denuncias: {{tipos.viDomes}}</h3>    
    </div>
  
    <div class="col-md-6">
      <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120716.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA INSTITUCIONAL</b></font></h3>
      <h3 class="text-center">Número de denuncias: {{tipos.viInsti}}</h3>    
  </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-6">
        <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120718.svg" width="50" height="50"><font color="purple"><b>&nbsp;VIOLENCIA LABORAL</b></font></h3>
        <h3 class="text-center">Número de denuncias: {{tipos.viLabo}}</h3>    
    </div>
  
    <div class="col-md-6">
      <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120704.svg" width="50" height="50"><font color="purple"><b>&nbsp;OTROS TIPOS DE VIOLENCIA</b></font></h3>
      <h3 class="text-center">Número de denuncias: {{tipos.viOtr}}</h3>    
  </div>
  </div>
<br>
<br>
<br>
<br>
  </div>