<div class="row">
  <div class="col-md-4">
      <h3 class="text-center"><font color="purple"><b>DENUNCIAS</b></font></h3>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar denuncias por fecha" [(ngModel)]="fechaDenuncia.fechaDen" name="fechaDenunciasNew"/>
        </div>
        <button class="btn btn-default" (click)="buscar()">Buscar</button>
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" (click)="borrarBusqueda()"></span>
      </form>
      <br>
      <br>
      <br>
      <ul type="list-group" *ngIf="!buscando">
        <li (click)="verDenunciaFecha(user)" class="list-group-item" *ngFor="let user of usuariosFecha">
          Tipo de denuncia : <b>{{user.tipoDenuncia}}</b> <br> {{user.fecha}} <br>{{user.descrip}}<br>
       
        <br>
        </li>
        </ul> 
    <ul type="list-group" *ngIf="buscando">
    <li (click)="verDenuncia(n)" class="list-group-item" *ngFor="let n of usuariosAll | async">
        Tipo de denuncia : <b>{{n.tipoDenuncia}}</b> <br> {{n.fecha }} <br>{{n.descrip}} <br>   
    <br>
    </li>
    </ul>
    <br>
    <br>
    <br>    
  </div>

  <div class="col-md-5" *ngIf="mostrarForm" id="content">
      <h3 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120698.svg" width="35" height="35"><font color="purple">&nbsp;DENUNCIA:</font></h3>
      <div class="panel panel-default"> 
    <h5>&nbsp; &nbsp; &nbsp;FECHA DENUNCIA:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.fecha}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;TIPO DE DENUNCIA:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.tipoDenuncia}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;DESCRIPCIÓN DENUNCIA:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.descrip}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;NOMBRE DE LA AFECTADA:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.nomVic}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;TELÉFONO DE LA AFECTADA:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.numVic}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;NOMBRE DEL IMPLICADO:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.nomAgre}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;NOMBRE DENUNCIANTE:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.nombreUsuario}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;RELACIÓN AFECTADA - DENUNCIANTE:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.relacion}}</h5> 
    <h5>&nbsp; &nbsp; &nbsp;NÚMERO USUARIO:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.numeroUsuario}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;DIRECCIÓN DENUNCIA:</h5>
    <h5>&nbsp; &nbsp; &nbsp;{{denuncia.dir}}</h5>
    <h5>&nbsp; &nbsp; &nbsp;IMAGEN ADJUNTA A LA DENUNCIA:</h5> <br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src= {{denuncia.url}} id="img" alt="IMAGEN DENUNCIA" width="150" height="150">
    <br>
    <br>      
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href={{denuncia.url}} download="Acme Documentation (ver. 2.0.1).txt">
      <button class="btn btn-default btn-block" id="export" >DESCARGAR IMAGEN</button>
      </a>
    </div>
    <div class="col-md-6">
      <button class="btn button btn-block" id="export" (click)="descargarDenuncia()">DESCARGAR DENUNCIA</button>
    </div>
  </div>
  <br>
    </div>

</div>


