<div class="container-fluid">
<div class="row">
  <div class="col-md-3">    
  </div>

  <div class="col-md-6">
    <h1 class="text-center">REGISTRO</h1>
    <input class="form-control" type="text" placeholder="NOMBRE INSTITUCION" [(ngModel)]="institucion.Nombre"/>
    <br>
    <input class="form-control" type="text" placeholder="CORREO" [(ngModel)]="institucion.Nombre"/>
    <br>
    <input class="form-control" type="text" placeholder="CONTRASEÑA" [(ngModel)]="institucion.Nombre"/>
    <br>
    <input class="form-control" type="text" placeholder="TIPO DE USUARIO" [(ngModel)]="institucion.Nombre"/>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-block" href="/principal" >CANCELAR</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-primary btn-block" (click)="borrarInst()">REGISTRAR</a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
  </div>
</div>