
<div class="container-fluid">
<div class="row">
  <div class="col-md-3">    
  </div>

  <div class="col-md-6">
    <h1 class="text-center">REGISTRO</h1>
    
    <div>
    <input class="form-control" type="text" placeholder="CORREO" [(ngModel)]="email"/>
    <br>
    <input name="contra" class="form-control"  type="password" placeholder="CONTRASEÑA" [(ngModel)]="password"/>
    <br>
    <input class="form-control" type="text" placeholder="NOMBRE USUARIO" [(ngModel)]="usuario.Nombre"/>
    
    <br>
      <label for="rol" class="back">ROL DEL ADMINISTRADOR:</label><br>
      <div class="btn-group" role="group" aria-label="..." id="rol" >
        <button type="button" class="btn btn-default" (click)="roles(1)">ADMINISTRADOR 1</button>
        <button type="button" class="btn btn-default" (click)="roles(2)">ADMINISTRADOR 2</button>
        <button type="button" class="btn btn-default" (click)="roles(3)">ADMINISTRADOR 3</button>
      </div>
      
      <br>
      <br>
      <br>
  </div>
  <div>
    
  </div>
    
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-default btn-block" href="/principal" >CANCELAR</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-primary btn-block" (click)="signup()">REGISTRAR</a>
      </div>
    </div>
  </div>


  <div class="col-md-3">
  </div>
</div>
