<div class="container-fluid">
		<div class="page-header">
				<h1><img src="https://image.flaticon.com/icons/svg/120/120711.svg" width="45" height="45"><font color="purple"><b>&nbsp;WARMI - WEB</b></font> <small>Parte administrativa, de la app móvil Warmi</small></h1>
			</div>
<div class="row">
  <div class="col-md-4">
  	<br>
  	<button type="button" class="btn button btn-lg btn-block" routerLink="/denuncias">DENUNCIAS</button>
	<button type="button" class="btn btn-default btn-lg btn-block" routerLink="/registro">REGISTRÓ</button>
	<button type="button" class="btn btn-default btn-lg btn-block" routerLink="/instituciones">INSTITUCIONES</button>
	<button type="button" class="btn btn-default btn-lg btn-block" routerLink="/ddhh">DDHH</button>
	<button type="button" class="btn btn-default btn-lg btn-block" routerLink="/delitos">ACTOS QUE SON DELITOS</button>
    
  </div>

  <div class="col-md-5" >
  	<div *ngIf="!(authService.user | async)">
  		<h1 class="text-center">INICIAR SESIÓN</h1>
    <input class="form-control" type="text" placeholder="CORREO" [(ngModel)]="email"/>
    <br>
    <input class="form-control" type="password" placeholder="CONTRASEÑA" [(ngModel)]="password"/>
    <br>
    
    <a class="btn button btn-block" (click)="login()">INGRESAR</a>
  		
  	</div>
  	<br>
  	<br>
  	<div class="panel panel-default" *ngIf="(authService.user | async)">

  		<div class="panel-heading text-center">BIENVENIDO!!!</div>

    <h3 class="text-center" *ngIf="authService.user | async">{{ (authService.user | async)?.email }}!</h3>
    <div class="row">
			<div class="col-md-3"></div>
			
    	<div class="col-md-6">    		
        <a class="btn btn-default btn-block" (click)="logout()">CERRAR SESIÓN</a>
			</div>
			<br>
			<div class="col-md-3"></div>
			<br>
			<br>
    </div>
  	</div>   
    
  </div>
</div>
