<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <h3 class="text-center">INSTITUCIONES EN CBBA.</h3>
    <ul type="list-group">

    <li (click)="verInst(n)" class="list-group-item" *ngFor="let n of inst  | async">
    {{n.Nombre }} <br>{{n.Direccion }}  <br>{{n.Telefono}}
    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
    </li>
    </ul>
  </div>

  <div class="col-md-5">
    <h1 class="text-center">NUEVA INSTITUCION</h1>
    <input class="form-control" type="text" placeholder="NOMBRE INSTITUCION" [(ngModel)]="institucion.Nombre"/>
    <br>
    <textarea class="form-control" placeholder="DIRECCION" [(ngModel)]="institucion.Direccion"></textarea><br>
    <textarea class="form-control" placeholder="TELEFONO" [(ngModel)]="institucion.Telefono"></textarea><br>
    <textarea class="form-control" placeholder="SERVICIO" [(ngModel)]="institucion.Servicio"></textarea><br>
    <textarea class="form-control" placeholder="PAGINA DE REFERENCIA" [(ngModel)]="institucion.PaginaReferencia"></textarea>
    <br>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-danger btn-block" *ngIf="editando" (click)="borrarInst()">ELIMINAR</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default btn-block" (click)="cancel()">CANCELAR</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary btn-block" (click)="guardarInst()">AGREGAR</a>
      </div>
    </div>
    
  </div>
</div>