<div class="container-fluid">
<div class="row">
  <div class="col-md-4">
    <h3 class="text-center"><font color="purple"><b>INSTITUCIONES EN COCHABAMBA</b></font></h3>
    <ul type="list-group">
    <li type="square" (click)="verInst(n)" class="list-group-item" *ngFor="let n of inst  | async">
        &#45; {{n.Nombre }} <br>{{n.Direccion }}  <br>{{n.Telefono}} <br>{{n.Servicio}} <br>{{n.PaginaReferencia}} <br>
    </li>
    </ul>
  </div>

  <div class="col-md-5">
    <h1 class="text-center"><img src="https://image.flaticon.com/icons/svg/120/120706.svg" width="45" height="45"><font color="purple">&nbsp;NUEVA INSTITUCIÓN</font></h1>
    <input class="form-control" type="text" placeholder="NOMBRE DE LA INSTITUCIÓN" [(ngModel)]="institucion.Nombre"/>
    <br>
    <textarea class="form-control" placeholder="DIRECCIÓN" [(ngModel)]="institucion.Direccion"></textarea><br>
    <textarea class="form-control" type="number" placeholder="TELÉFONO" [(ngModel)]="institucion.Telefono"></textarea><br>
    <textarea class="form-control" placeholder="SERVICIO" [(ngModel)]="institucion.Servicio"></textarea><br>
    <textarea class="form-control" placeholder="PÁGINA DE REFERENCIA" [(ngModel)]="institucion.PaginaReferencia"></textarea>
    <br>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-danger btn-block" *ngIf="editando" (click)="borrarInst()">ELIMINAR</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default btn-block" (click)="cancel()">CANCELAR</a>
      </div>
      <div class="col-md-4">
        <a class="btn button btn-block" (click)="guardarInst()">AGREGAR</a>
      </div>
    </div>
    <br>
    <br>
    
  </div>
</div>