<div class="row">
  <div class="col-md-4">

    <h3 class="text-center">ACTOS QUE SON CONSIDERADOS DELITOS</h3>
    <ul type="list-group">
    <li (click)="verDelitos(n)" class="list-group-item" *ngFor="let n of del  | async">
    {{n.Articulo }} <br>{{n.Nombre }}  <br>{{n.Descripcion}}
    </li>
    </ul>
  </div>

  <div class="col-md-5">
    <h1 class="text-center">NUEVA ACTO QUE ES UN DELITO</h1>
    <input class="form-control" type="text" placeholder="ARTICULO" [(ngModel)]="delito.Articulo"/>
    <br>
    <textarea class="form-control" placeholder="NOMBRE" [(ngModel)]="delito.Nombre"></textarea><br>
    <textarea class="form-control" placeholder="DESCRIPCION" [(ngModel)]="delito.Descripcion"></textarea><br>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-danger btn-block" *ngIf="editando" (click)="borrarInst()">ELIMINAR</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-default btn-block" (click)="cancel()">CANCELAR</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary btn-block" (click)="guardarDelito()">AGREGAR</a>
      </div>
    </div>
  </div>
</div>